@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= Model.DisplayText;
}

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHTML)</div>
<h5>Artists:</h5>
@if (Model.Artists.Length > 0)
{
    <div>
        <ul>
            @foreach (var item in Model.Artists)
            {
                <li><text> @item.Role: @item.Name</text></li>
            }
        </ul>
    </div>  
}